<ion-header>
	<ion-navbar color="secondary">
	  <ion-title>
	    Location Tracker
	  </ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	  <!--<ion-grid>
    <ion-row>
      <ion-col col-9>
        <ion-input placeholder="Message" type="text" #msg value=""></ion-input>
      </ion-col>
      <ion-col col-3><button ion-button (click)="send($event,msg.value)">Send</button></ion-col>
    </ion-row>
    <ul>
      <li *ngFor="let item of messages">{{item}}</li>
    </ul>
  </ion-grid>-->
	<!--<h2>Current Latitude: {{locationTracker.lat}}</h2>
	<h2>Current Longitude: {{locationTracker.lng}}</h2>
	<h2>Current Speed: {{locationTracker.speed}}</h2>
	<button ion-button full primary (click)="profile()">Profile</button>
	<button ion-button full primary (click)="start()">Start Tracking</button>
	<button ion-button full primary (click)="stop()">Stop Tracking</button>-->
	
	
	<!--<div *ngIf="locationTracker.lat">
	<agm-map [latitude]="locationTracker.lat" [longitude]="locationTracker.lng">
  <agm-marker [latitude]="locationTracker.lat" [longitude]="locationTracker.lng"></agm-marker>
</agm-map>
	</div>-->
	<div #map id="map" style="height:100%;"></div>

</ion-content>